# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# VSCode and other IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packages
*.egg
*.egg-info/
dist/
build/
.eggs/

# Log files
*.log

# Model or checkpoint files
*.ckpt
*.h5
*.pth
*.pt
*.joblib

# ollama Mod
